{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block admin_page_title %}
    <div class="col-sm-6 col-md-8">
        <h1 class="app__content__header__title">
            {% if adminmenu.current %}
                {{ adminmenu.current.label | trans }} {% block page_header_addition %}{% endblock %}
            {% else %}
                {{ adminlist.configurator.getEntityName() }}
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    {% if adminlist.getIndexUrl()['params'] is defined %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()['params']) }}
    {% else %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()) }}
    {% endif %}
{% endblock %}
